header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.40); 
    z-index: -1;
}
.margina{
    margin-top: 50px;
}
footer{
    margin-top: 350px;
}